body
{
    border: 0px;
    margin: 0px;
}
#foot_b
{
    border: 0px;
    width: 100%;
    height: 200px;
    background-color: black;
}
#foothead
{
    font-size: 36px;
    font-family: "Garamond";
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 0px;
    padding: 0px;
}
#foothead:hover
{
    color:yellow;
}
.con{
    margin-top: 22px;
	width:35px;
	height:35px;
    float: left;
}
#links
{
    float: left;
    display: inline-block;
    position: absolute;
    color: white;
}
#contact
{
    position: absolute;
    top: 30px;
    color: white;
    /*left: 900px;*/
    right:5px;
    font-size: 17px;
}
