body {
	background-color: #5499c7;
}

.zoom {
	zoom: 100%;
}

.sc {
	overflow-x: hidden;
}



.one img {
	width: 100%;
	height: 500px;
}

.opar {
	position: relative;
	top: -460px;
	left: 20px;
}

h1 {
	font-size: 60px;
}

.head img {
	width: 100%;
	height: 400px;
}

.top ul {
	display: inline-block;
}

#p1 {
	margin: 70px 20px 20px 20px;
	text-align: center;
	font-size: x-large;
	font-weight: 500;
}

#first {
	margin-top: 20px;
	font-weight: bold;
	color: wheat;
	font-size: xx-large;
	text-shadow: darkblue 2px 2px 8px;
}

#p2 {
	margin: 25px 20px 20px 20px;
	font-size: large;
	opacity: 0.7;
	text-align: center;
}

.oppor {
	width: 25%;
	height: 200px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 20px;
	border: 3px solid black;
}

.life {
	width: 25%;
	height: 200px;
	margin-top: 15px;
	margin-left: -5px;
	margin-right: 20px;
	border: 3px solid black;
}

.staff {
	width: 25%;
	height: 200px;
	margin-top: 15px;
	margin-left: -5px;
	margin-right: 20px;
	border: 3px solid black;
}

.opp {
	position: relative;
	text-align: center;
	color: white;
}

#single {
	margin-top: 70px;
	font-weight: bold;
	color: wheat;
	font-size: xx-large;
	text-shadow: darkblue 2px 2px 8px;
}

#p3 {
	margin: 25px 20px 20px 20px;
	font-size: large;
	opacity: 0.7;
	text-align: center;
}

.mid {
	text-align: center;
	border: 1px solid white;
}

.hr {
	width: 90%;
	height: 200px;
}

.p4 {
	margin-top: 50px;
	float: left;
}

.p4 a {
	text-decoration: none;
	font-size: 25px;
	margin-bottom: 30px;
}

#p5 {
	float: left;
	width: 40%;
	/*margin: 5px 200px 5px 20px;*/
	font-size: x-large;
}

#p6 {
	float: left;
	width: 50%;
	margin-top: 10px;
	/*margin: 5px 200px 5px 20px;*/
	font-size: x-large;
}

#p7 {
	width: 50%;
	height: 100px;
	float: right;
}

.column {
	background-color: #0f3859;
	border: 2px solid darkblue;
	float: left;
	margin-right: 70px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 25%;
	padding: 3px;
}

.column img {
	height: 200px;
}

.isub {
	background-color: rgb(29, 139, 153);
	color: #fff;
	font: italic smaller sans-serif;
	text-align: center;
	font-size: x-large;
}

#fl {
	position: relative;
	left: -340px;
	top: -105px;
	font-weight: bold;
}

#fl a {
	text-decoration: none;
	border: 1px solid black;
	background-color: lightcyan;
	color: #28b463;
}

#f2 {
	position: relative;
	left: 10px;
	top: -150px;
	font-weight: bold;
}

#f2 a {
	text-decoration: none;
	border: 1px solid black;
	background-color: lightcyan;
	color: #28b463;
}

#f3 {
	position: relative;
	left: 340px;
	top: -195px;
	font-weight: bold;
}

#f3 a {
	text-decoration: none;
	border: 1px solid black;
	background-color: lightcyan;
	color: #28b463;
}

#lifeatdsu {
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-left: 20px;
	width: 50%;
	height: 200px;
}

#lifeatdsu h2 {
	color: wheat;
	font-size: xx-large;
	text-shadow: darkblue 2px 2px 8px;
}

.dsu img {
	float: right;
	border: 4px solid black;
	margin-top: 20px;
	margin-right: 35px;
	width: 40%;
	height: 280px;
	transition: 1s;
}

.dsu img:hover {
	margin-right: 80px;
}

#lifestaff {
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: 700px;
	margin-left: 20px;
	width: 50%;
	height: 200px;
}

#lifestaff h2 {
	color: wheat;
	font-size: xx-large;
	text-shadow: darkblue 2px 2px 8px;
}

#lifestaff p {
	font-size: large;
}

.iframecontainer {
	width: 50%;
	position: relative;
	left: 650px;
	top: -200px;
}
