body {
	background-color: #5499c7;
}

.zoom {
	zoom: 90%;
}

.one img {
	width: 100%;
	height: 500px;
}

.opar {
	position: relative;
	top: -460px;
	left: 20px;
}

.two {
	border: 2px solid black;
	background-color: #013b61;
}

.two h2 {
	font-size: 60px;
	padding-left: 40px;
	color: #f39c12;
	text-shadow: #058962 3px 2px 8px;
}

.three {
	font-size: x-large;
}

#name {
	margin-left: 10px;
	height: 20px;
	width: 500px;
}

#email2 {
	margin-left: 38px;
	height: 20px;
	width: 500px;
}

#field {
	margin-left: 68px;
	height: 30px;
}

#city {
	margin-left: 80px;
	height: 30px;
}

#myfile {
	margin-left: 20px;
	height: 30px;
	width: 290px;
}

#city1 {
	font-weight: bold;
	font-size: x-large;
	margin-left: 10px;
	padding-left: 35px;
	color: #138d75;
}

#file {
	margin-left: 24px;
	font-weight: bold;
	font-size: x-large;
	padding: 20px;
	color: #138d75;
	text-align: justify;
}

#name1 {
	font-weight: bold;
	font-size: x-large;
	padding-left: 15px;
	color: #138d75;
	text-align: justify;
}

#field1 {
	margin-left: 20px;
	font-weight: bold;
	font-size: x-large;
	padding-left: 10px;
	color: #138d75;
	text-align: justify;
}

#fieldselect {
	margin-left: 18px;
	font-weight: bold;
	font-size: x-large;
	padding-left: 30px;
	text-align: justify;
}

#email {
	font-weight: bold;
	font-size: large;
	margin-left: 10px;
	padding-left: 35px;
	color: #138d75;
}

#email label {
	font-size: x-large;
}
.bton {
	position: relative;
	display: inline block;
	left: 42%;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	opacity: 0.6;
	background-color: #839192;
}

.bton:hover {
	opacity: 1;
	background-color: teal;
}

.button2 {
	position: relative;
	display: inline block;
	left: 42%;
	width: 150px;
	padding: 5px;
	margin-top: 30px;
	margin-left: 30%;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
	opacity: 0.6;
	background-color: #839192;
}

.button2:hover {
	opacity: 1;
	background-color: #fa4856;
}

.interview {
	position: relative;
	top: -440px;
	left: -100px;
	width: 30%;
	height: 100px;
	float: right;
}

.interview img {
	width: 100%;
	height: 350px;
	border: 4px solid black;
	border-radius: 10px 100px / 120px;
}
